.contacts h1 {
  margin: 0vw 0vw 5vw 0vw;
  font-size: 12vw;
  font-weight: 200;
  color: white;
}
.contacts p {
  font-size: 3vw;
  font-weight: 200;
  color: white;
}
.contacts a {
  color: white;
}
