ul.nav {
  background-color: white;
  text-align: center;
  font-weight: 200;
  position: sticky;
  z-index: 1;
  top: 0;
}
ul.nav > li {
  display: inline-block;
  padding: 1.5vw 3vw;
  font-size: 3vw;
}
ul.nav > li > a {
  text-decoration: none;
  color: black;
}
ul.nav > li > a:after {
  display: block;
  content: "";
  border-bottom: solid 0.1vw black;
  transform: scaleX(0);
  transition: transform 0.25s ease-in-out;
}
ul.nav > li > a:hover:after,
ul.nav > li > .active:after {
  transform: scaleX(1);
}
